namespace go web
go_import "github.com/rolandhe/daog"
with_client=true

struct Order
{
  i64 id,
  string name (json="Name",valid="regx:^a$"),
  list<string> children,
  struct o2common.Pager pager,
}

service OrderService url="/base"
{
    (description="中文描述中文描述中文描述中文描述中文描述中文描述中文,描述中文描述中文描述中文描述中文描述中文描述中文描述")
    POST url="order" string  testOrder(struct Order order),
    #GET url="testOrder" list<struct Order> testString(struct User user),

    #GET url="test" list<struct Order> testString2(list<i64> idList),
    GET url="test" list<struct Order> testString2(required i64 id,optional string nn,i32 status,bool value)
}